.imagen-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-portada{
    width: auto;
    height: 500px;
    object-fit: contain;
    border: 1 px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 4px;
}